@model List<ListaCompras.Domain.Model.ItemDeProduto>


@Html.ActionLink("Cadastrar novos produtos", "Create", "Produto")

@Html.ActionLink("Lista de compras a fazer", "Index", "ListaDeCompras")


<h2>Lista de produtos</h2>

<table>
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Validade
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Produto.Nome</td>

                <td>@item.Quantidade</td>

                <td>@item.Validade</td>
            </tr>
        }
    </tbody>
</table>
